
<body data-spy="scroll" data-target="#Main-Nav" data-offset="0" class="scrollspy-example">

    <section class="home-banner page-banner">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container">

                    <a class="navbar-brand" [routerLink]="['/home']">
                        <span>
                            <i class="icon-rocket"></i> Mat</span>Solve</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Main-Nav" aria-controls="Main-Nav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="Main-Nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" [routerLink]="['/home']">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link page-scroll" href="/home#about">About</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link page-scroll" [routerLink]="['/solve']">Solve</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link page-scroll" href="/home#how-we-do">Features</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="banner-content">

                <h2>
                    <strong>SOLVE PROBLEMS</strong>
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Solve</li>
                    </ol>
                </nav>
            </div>
        </div>




    </section>
    <!-- <section class="page-content pt-5 pb-5">
        <div class="container"> -->
            <!-- <div class="row mb-3">
                    <div class="col-md-6 offset-md-3 col-xs-12 filter-search pt-5 pb-5">
                        </div>
                        <div class="row grid">
                            </div>
            </div> -->
            <!-- </div>
        </section> -->