<!--<div>Regular falsi</div>
<br>
<br>
<input [(ngModel)]="fm"/>
<br>
<input [(ngModel)]="nrinput"/>
<button (click)="send();">Request</button>
<pre [innerHTML]="theHtmlString"></pre>-->
<app-common></app-common>
<section class="page-content pt-5 pb-5">
                <!-- <div class="container">
<div class="row"> -->
        <div class="container">
                <div class="row-fluid">
                                <div class="row mb-3">
                                                <div class="col-md-6 offset-md-4 col-xs-12">
<u><h3 class="about-info">REGULAR-FALSI</h3></u>
<br>
</div>
</div>
<input [(ngModel)]="fm" type="text" class="form-control offset-md-3" placeholder="Enter the equation in variable m" style="width:50%;"/>
<br>
<input [(ngModel)]="input1" type="text" class="form-control offset-md-3" placeholder="Enter the interval start point" style="width:50%;"/>
<br>
<input [(ngModel)]="input2" type="text" class="form-control offset-md-3" placeholder="Enter the interval end point" style="width:50%;"/>
<br>
<button class="form-control offset-md-5 col-md-2 btn btn-success" (click)="send();">Solve</button>
<br>
<br>
<br>
<br>
<span *ngIf="s">
        <div [innerHTML]="s"></div>{{this.input1}}
        </span>
        <br>
        <span *ngIf="n">
        <div [innerHTML]="n"></div>{{this.input2}}
        </span>
        <br>
<pre [innerHTML]="first"></pre>
<!--<div *ngIf="second">=<pre [innerHTML]="second" style="display:table;"></pre></div>-->
<br></div></div> </section>

