<app-common></app-common>
<section class="page-content pt-5 pb-5">
                <!-- <div class="container">
<div class="row"> -->
        <div class="container">
                <div class="row-fluid">
                                <div class="row mb-3">
                                                <div class="col-md-6 offset-md-4 col-xs-12">
<u><h3 class="about-info">INVERSE OF A 3*3 MATRIX</h3></u>
<br>
</div>
</div>
<input [(ngModel)]="input" type="text" class="form-control offset-md-3" placeholder="Enter Elements of a 3*3 Matrix with a space between each Element" style="width:50%;"/>
<br>
<button class="form-control offset-md-5 col-md-2 btn btn-success" (click)="send();">Solve</button>
<br>
<br>
<br>
<br>
<pre [innerHTML]="first" *ngIf="second"></pre>
<div *ngIf="second">(({{this.b[4]}}*{{this.b[8]}})-({{this.b[5]}}*{{this.b[7]}}))*{{this.b[0]}}-(({{this.b[3]}}*{{this.b[8]}})-({{this.b[5]}}*{{this.b[6]}}))*{{this.b[1]}}+(({{this.b[3]}}*{{this.b[7]}})-({{this.b[4]}}*{{this.b[6]}}))*{{this.b[2]}} =<pre [innerHTML]="second" style="display:inline;"></pre></div>
<br>
<div *ngIf="second">Co Factor Calculation :</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
<div *ngIf="second">{{this.b[4]}}*{{this.b[8]}}-{{this.b[5]}}*{{this.b[7]}} = <div style="display:inline;">{{this.b[4]*this.b[8]-this.b[5]*this.b[7]}}</div></div>
<div *ngIf="second">{{this.b[1]}}*{{this.b[8]}}-{{this.b[2]}}*{{this.b[7]}} = <div style="display:inline;">{{this.b[1]*this.b[8]-this.b[2]*this.b[7]}}</div></div>
<div *ngIf="second">{{this.b[1]}}*{{this.b[5]}}-{{this.b[2]}}*{{this.b[4]}} = <div style="display:inline;">{{this.b[1]*this.b[5]-this.b[2]*this.b[4]}}</div></div>
</div>
<div class="col-md-3">
        <div *ngIf="second">{{this.b[3]}}*{{this.b[8]}}-{{this.b[5]}}*{{this.b[6]}} = <div style="display:inline;">{{this.b[3]*this.b[8]-this.b[5]*this.b[6]}}</div></div>
<div *ngIf="second">{{this.b[0]}}*{{this.b[8]}}-{{this.b[2]}}*{{this.b[6]}} = <div style="display:inline;">{{this.b[0]*this.b[8]-this.b[2]*this.b[6]}}</div></div>
<div *ngIf="second">{{this.b[0]}}*{{this.b[5]}}-{{this.b[2]}}*{{this.b[3]}} = <div style="display:inline;">{{this.b[0]*this.b[5]-this.b[2]*this.b[3]}}</div></div>
</div>
<div class="col-md-3">
        <div *ngIf="second">{{this.b[3]}}*{{this.b[7]}}-{{this.b[4]}}*{{this.b[6]}} = <div style="display:inline;">{{this.b[3]*this.b[7]-this.b[4]*this.b[6]}}</div></div>
        <div *ngIf="second">{{this.b[0]}}*{{this.b[7]}}-{{this.b[1]}}*{{this.b[6]}} = <div style="display:inline;">{{this.b[0]*this.b[7]-this.b[1]*this.b[6]}}</div></div>
<div *ngIf="second">{{this.b[0]}}*{{this.b[4]}}-{{this.b[3]}}*{{this.b[1]}} = <div style="display:inline;">{{this.b[0]*this.b[4]-this.b[3]*this.b[1]}}</div></div>
</div>
<div class="col-md-1">
    <div></div>
<div *ngIf="second">*</div>
<div></div>
</div>
<div class="col-md-2">
<pre *ngIf="second" style="margin-top:0px;margin-bottom:0px"> 1  -1   1</pre>
<pre *ngIf="second" style="margin-top:0px;margin-bottom:0px">-1   1  -1</pre>
<pre *ngIf="second" style="margin-top:0px;margin-bottom:0px"> 1  -1   1</pre>
</div>
</div>
</div>
<pre [innerHTML]="third" *ngIf="third"></pre>
<div *ngIf="third">Inverse = Co-factor Matrix / Determinant </div>
<pre [innerHTML]="fourth" *ngIf="fourth"></pre>
</div>
</div>
<!-- </div>
</div> -->
</section>