


    <section class="home-banner page-banner">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container">

                    <a class="navbar-brand" [routerLink]="['/home']">
                        <span>
                            <i class="icon-rocket"></i> Mat</span>Solve</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Main-Nav" aria-controls="Main-Nav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="Main-Nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" [routerLink]="['/home']">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link page-scroll" href="#about">About</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link page-scroll" [routerLink]="['/solve']">Solve</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link page-scroll" href="/home#how-we-do">Features</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="banner-content">

                <h2>
                    <strong>SOLVE PROBLEMS</strong>
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Solve</li>
                    </ol>
                </nav>
            </div>
        </div>




    </section>

    <section class="page-content pt-5 pb-5">
        <div class="container">
            <div class="row mb-3">
                    <div class="col-md-6 offset-md-3 col-xs-12 filter-search pt-5 pb-5">
                    <input type="text" class="quicksearch form-control" placeholder="Search here Ex: 3X3 Matrix" />
                   
                    </div>
            </div>
           
            <div class="row grid">
                <div class="element-item card card-custom col-sm-4">
                    <div class="card-wrapper">
                        <div class="card-header orange">
                            <h5 class="card-title text-right">
                                <i class="icon-hourglass"></i> Inverse Of 3X3 Matrix</h5>
                            <p class="card-subtitle text-right">Matrix Problem</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Finding the Inverse of a 3 x 3 Matrix using Determinants and Cofactors</p>
                        </div>

                        <div class="card-footer text-right">
                            <a data-fancybox href="https://www.youtube.com/embed/YvjkPF6C_LI&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                class="card-link">
                                <i class="icon-control-play"></i> Video</a>
                                <a [routerLink]="['/3*3matrix']" class="card-link">
                            <!-- <a href="/3*3matrix" class="card-link"> -->
                                <i class="icon-puzzle"></i> Solve</a>
                        </div>
                    </div>
                </div>

                <div class="element-item card card-custom col-sm-4">
                    <div class="card-wrapper">
                        <div class="card-header green">
                            <h5 class="card-title text-right">
                                <i class="icon-hourglass"></i> Newton-Raphson Method</h5>
                            <p class="card-subtitle text-right">Newton-Raphson</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> A powerful technique for solving equations numerically.</p>
                        </div>

                        <div class="card-footer text-right">
                            <a data-fancybox="" href="https://www.youtube.com/embed/oE98W4A7Zio&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                class="card-link">
                                <i class="icon-control-play"></i> Video</a>
                            <a [routerLink]="['/newton-raphson']" class="card-link">
                                <i class="icon-puzzle"></i> Solve</a>
                        </div>
                    </div>
                </div>

                <div class="element-item card card-custom col-sm-4">
                    <div class="card-wrapper">
                        <div class="card-header orange">
                            <h5 class="card-title text-right">
                                <i class="icon-hourglass"></i> Regular-falsi Method</h5>
                            <p class="card-subtitle text-right">Numerical Problem</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Method used for solving the equations with initial value and solve numerically.</p>
                        </div>

                        <div class="card-footer text-right">
                            <a data-fancybox="" href="https://youtu.be/QTn5UQbfXTk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                class="card-link">
                                <i class="icon-control-play"></i> Video</a>
                                <a [routerLink]="['/regular-falsi']" class="card-link">
                                <i class="icon-puzzle"></i> Solve</a>
                        </div>
                    </div>
                </div>


                <div class="element-item card card-custom col-sm-4">
                        <div class="card-wrapper">
                            <div class="card-header orange">
                                <h5 class="card-title text-right">
                                    <i class="icon-hourglass"></i> Newtons-forward</h5>
                                <p class="card-subtitle text-right">Forward interpolation</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Interpolation is the process of approximating a given function.</p>
                            </div>
    
                            <div class="card-footer text-right">
                                <a data-fancybox="" href="https://youtu.be/EyRQXA56asI&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                    class="card-link">
                                    <i class="icon-control-play"></i> Video</a>
                                    <a [routerLink]="['/newtons-forward']" class="card-link">
                                    <i class="icon-puzzle"></i> Solve</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="element-item card card-custom col-sm-4">
                        <div class="card-wrapper">
                            <div class="card-header blue">
                                <h5 class="card-title text-right">
                                    <i class="icon-hourglass"></i> Newtons-backward</h5>
                                <p class="card-subtitle text-right">Newtons backward interpolation</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Interpolation is the process of approximating a given function.</p>
                            </div>
    
                            <div class="card-footer text-right">
                                <a data-fancybox="" href="https://youtu.be/f9s6p9f-v1g&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                    class="card-link">
                                    <i class="icon-control-play"></i> Video</a>
                                    <a [routerLink]="['/newtons-backward']" class="card-link">
                                    <i class="icon-puzzle"></i> Solve</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="element-item card card-custom col-sm-4">
                        <div class="card-wrapper">
                            <div class="card-header voilet">
                                <h5 class="card-title text-right">
                                    <i class="icon-hourglass"></i>Curve fitting </h5>
                                <p class="card-subtitle text-right">Linear curve fitting</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Curve fitting linear equation is used to find the best fit line.</p>
                            </div>
    
                            <div class="card-footer text-right">
                                <a data-fancybox="" href="https://youtu.be/lCNHXhLg2dI&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                    class="card-link">
                                    <i class="icon-control-play"></i> Video</a>
                                    <a [routerLink]="['/linear-curvefitting']" class="card-link">
                                    <i class="icon-puzzle"></i> Solve</a>
                            </div>
                        </div>
                    </div>

                    

                    <div class="element-item card card-custom col-sm-4">
                            <div class="card-wrapper">
                                <div class="card-header yellow">
                                    <h5 class="card-title text-right">
                                        <i class="icon-hourglass"></i> Exponential</h5>
                                    <p class="card-subtitle text-right">Exponential curve fitting</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Method used for finding the best fit of exponents.</p>
                                </div>
        
                                <div class="card-footer text-right">
                                    <a data-fancybox="" href="https://youtu.be/ta4MZS7w2VA&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                        class="card-link">
                                        <i class="icon-control-play"></i> Video</a>
                                        <a [routerLink]="['/exponential-curvefitting']" class="card-link">
                                        <i class="icon-puzzle"></i> Solve</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="element-item card card-custom col-sm-4">
                            <div class="card-wrapper">
                                <div class="card-header blue">
                                    <h5 class="card-title text-right">
                                        <i class="icon-hourglass"></i>Inverse of 2*2</h5>
                                    <p class="card-subtitle text-right">Matrix problem</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Finding the Inverse of a 3 x 3 Matrix using Determinants and Cofactors.</p>
                                </div>
        
                                <div class="card-footer text-right">
                                    <a data-fancybox="" href="https://youtu.be/y4B_EC5MNS8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                        class="card-link">
                                        <i class="icon-control-play"></i> Video</a>
                                        <a [routerLink]="['/2*2matrix']" class="card-link">
                                        <i class="icon-puzzle"></i> Solve</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="element-item card card-custom col-sm-4">
                            <div class="card-wrapper">
                                <div class="card-header orange">
                                    <h5 class="card-title text-right">
                                        <i class="icon-hourglass"></i>Statistics</h5>
                                    <p class="card-subtitle text-right">Mean, Median and Mode</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">To calculate the mean median and mode of given elements.</p>
                                </div>
        
                                <div class="card-footer text-right">
                                    <a data-fancybox="" href="https://youtu.be/k3aKKasOmIw&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"
                                        class="card-link">
                                        <i class="icon-control-play"></i> Video</a>
                                        <a [routerLink]="['/statistics']" class="card-link">
                                        <i class="icon-puzzle"></i> Solve</a>
                                </div>
                            </div>
                        </div>
        

            </div>

        </div>
    </section>



    <footer>
        <p class="mb-0">&copy; 2018
            <i class="icon-rocket"></i> MatSolve.</p>
    </footer>
