
body {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}

header {
    top: 30px;
    position: relative;
    z-index: 500;
    transition: all .4s ease-in-out;
}
header .navbar{
    padding:.8rem 1rem;
}
header .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    font-weight:500;
}
header .navbar-dark .navbar-nav .nav-link:hover,header .navbar-dark .navbar-nav li.active .nav-link,header .navbar-dark .navbar-nav .nav-link:hover,header .navbar-dark .navbar-nav li .nav-link.active{
    color: #fff;
}
@media(min-width:768px){
	header .navbar-dark .navbar-nav li {
		margin-left:50px;
	}
}
.navbar-dark .navbar-brand {
    font-size: 2em;
}
.navbar-dark .navbar-brand span {
    color: #007BFF;
    font-weight: 900;
}
.navbar-dark .navbar-brand span  i{
    color: #fff;
    font-size: 1.3em;
    margin-right: 5px;
    vertical-align: text-top;
}

.home-banner{
    background:url('../images/main-banner.jpg');
    height:100vh;
    background-attachment:fixed;
    position:relative;
	background-size:cover;
}
.home-banner:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 1;
}
.home-banner .section-copy{
}
.home-banner .caption{
    z-index:50;
    position:absolute;
    left: 0;
    right: 0;
    top: 40%;
    color:#fff;
    text-align:center;
    font-size:1rem;
    width: 100%;
}
.home-banner .caption h1 {
    font-size:4rem;
    font-weight:bold;
}
.home-banner .caption .btn{
    margin:1rem auto;
}

.home-banner .mouse-btn {
    padding: 10px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #007BFF;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(42, 196, 110, 0.8);
    position: absolute;
    bottom: 50px;
    z-index: 50;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    animation: pulse 2s infinite;
}
.home-banner .mouse-btn:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(42, 196, 110, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(42, 196, 110, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(42, 196, 110, 0);
  }
}
.home-banner .mouse-btn img {
    width: 22px;
    height: 22px;
    display: block;
    margin: 0 auto;
}

.what-we-do, .courses, .stats, .cta, .clients,.about { padding: 6rem 0; }

.what-we-do {background:#fff;text-align: center;}
.what-we-do i {
    color:#007BFF;
    font-size: 2.8rem;
    margin: 1rem 0;
    display: block;
}
.what-we-do h5 {
    font-weight:bold;
}
.what-we-do p{
    margin-top:1rem;
        color: #333333;
        line-height:1.8rem;
}


.stats {
    background:url('../images/stats-bg.jpg') no-repeat;
    height:500px;
    background-attachment:fixed;
    position:relative;
    color:#fff;
    text-align:center;
    background-size: cover;
}
.stats:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 1;
}
.stats .section-title h3{
     color:#fff;
}
.stats i {
    color:#007BFF;
    font-size: 2.8rem;
    margin: 2rem 0;
    display: block;
}
.stats h2 {
    font-weight:900;
    font-size:4rem;
    margin-bottom: 0;
    line-height: 1;
}
.stats p{
        font-size: 1.2rem;
        line-height: 1;
        font-weight: bold;
}




.cta { background:#F5F5F7; }
.cta h3 {
    font-weight:600;
    font-size:1.5rem;
}
.cta p{
     line-height: 1.5;
     color: #333333;
}


.clients { }
.clients .owl-item img {max-width: 75px;margin: 0 auto;}

.features .wrap {
    padding:3rem 1rem;
}
.features .wrap h3:after {
    right: initial;
    margin: initial;
}
.features .wrap .section-title + p {
    color:#999;
    font-size:1rem;
    line-height:1.8;
}
.features .feature-list i {
    color:#007BFF;
    font-size: 2rem;
    padding: 0 1rem  0 0;
    display:inline-block;
    vertical-align:middle;
}
.features .feature-list h6 {
    font-weight:600;
}

.features .feature-list [class*="col-"]{
  margin-bottom:1.5rem;
}

.section-wrap{
    position:relative;
    z-index: 50;
}

.contact .wrap {
    padding:3rem 1rem;
}
.contact .wrap h3:after {
    right: initial;
    margin: initial;
}


.img-fw{
    width:100%;
    height: 100%;
}

.courses { background:#F5F5F7; }
.courses .card{
    border:0;
    padding: 0;
}
.courses .card .card-block {
  padding:10px;
  position:relative;
}
.courses .card .card-block .course-badge{
  color:#fff;
  background:#007BFF;
  padding:0.3rem 0.8rem;
  font-size: 0.7rem;
  text-transform:uppercase;
  position:absolute;
  top:-10px;
}
.courses .card .card-block .card-title { padding:1rem 0;}
.courses .card .card-block .date,.card .card-block .price {
  width:49%;
  display:inline-block;
  font-size:0.85rem;
  margin:0;
}
.courses .card .card-block .price {
  text-align:right;
  color:#e84444;
  font-weight:bold;
  font-size: 1rem;
}

.courses .card .card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.8);
    color: #fff;
    opacity:0;
    transition:all .4s linear;
    padding: 2.5rem 1rem;
}
.courses .card:hover .card-overlay{
    opacity:1;
}
.courses .card .card-overlay .btn {text-align:center;display: block;width: 100px;margin: 2rem auto;}
.courses .owl-dots{
  float: right;
  margin-top: 5px;
}
.courses .owl-dots .owl-dot {
    display: inline-block;
}
.courses .owl-dots .owl-dot span {
    border-radius: 50%;
    display: block;
    background: rgb(204, 204, 204);
    height: 10px;
    width: 10px;
    margin: 5px 3px;
    transition: .5s ease;
}
.courses .owl-dots .owl-dot.active span {
    background-color: #007BFF;
    width: 50px;
    border-radius: 10px;
    transition: .5s ease;
}

.contact .form-row {
    margin-bottom:1rem;
}
.contact .form-row .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(17,17,17,0.4);
    font-size: 0.928em;
    padding: 1.1em 0;
    resize:none;
}
.contact .form-row .form-control:focus {
    border-color: rgba(17,17,17,0.8);
    color: #8e8e8e;
}


.section-title{
    padding: 0 0 4rem 0;
    text-align:center;
}
.section-title p{
    color: #007BFF;
    margin: 0 0 0.5rem 0;
}
.section-title h3 {
    font-size:2.4rem;
    color:#000;
    font-weight:bold;
    position: relative;
}
.section-title h3:after {
    background: #007BFF;
    content: '';
    height: 1px;
    width: 40px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}


footer {
    background:#171515;
    padding:2rem 1rem;
    text-align:center;
    color: #999;
}

.icon-heart{
    color:#e84444;
}


.btn {
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
}
.btn-success{
    color: #ffffff;
    background-color: #007BFF;
    border-color: #007BFF;
    box-shadow: 0px 0px 0 5px rgba(42, 196, 101, 0.3);
    transition:all .4s linear;
}
.btn-success:hover{
    box-shadow: 0px 0px 0 10px rgba(42, 196, 101, 0.4);
    background-color: #007BFF;
    border-color: #007BFF;
}



.inner-header{
    background:url('../images/main-banner.jpg');
    height:200px;
    background-attachment:fixed;
    position:relative;
    z-index: 50;
}
.inner-header:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: -1;
}
.inner-header .page-title{
    color:#fff;
    padding: 3rem 1rem;
    max-width: 31em;
    margin: 0 auto;
}
.inner-header .page-title h2{
    font-weight:600;
}
.inner-page{
    padding:2rem 0;
}


/****** LOGIN MODAL ******/
.login-wrap {
  padding: 2rem;
}
.login .modal-header{
    height:150px;
    background-color: #007BFF;
    color:#fff;
    padding: 2rem 1rem;
    position: relative;
}
.login .modal-header h1 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    font-weight: 600;
}
.login .modal-header .close{
    position:absolute;
    right:1rem;
    top:1rem;
    outline: none;
    color: #000;
    text-shadow: none;
}
.login-wrap a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-wrap .form-row{
  margin-bottom:2rem;
}
.login-wrap .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(17,17,17,0.4);
    font-size: 0.928em;
    padding: 1.1em 0;
    resize:none;
}
.login-wrap .form-control:focus {
    border-color: rgba(17,17,17,0.8);
    color: #8e8e8e;
}
.login .modal-content {
    border:0;
    border-radius: 0;
}



.nav-login {
    background-color: #007BFF;
    border-color: #007BFF;
    padding:0.5rem 1rem;
}

.navbar-dark .navbar-toggler {
    border:0;
    outline: none;
    cursor:pointer;
}

@media (min-width:480px) {
    .modal-sm{
        max-width:400px;
    }
}

@media (max-width:767px){
  .stats { height:100%; }
  .stats h2 { font-size: 3rem; }
  .home-banner .caption { padding:0 1rem;}
  .home-banner .caption h1 { font-size:2rem }
  .home-banner .mouse-btn { bottom:65px; }
  footer { padding: 2.5rem 1rem; }
  header .navbar-dark .navbar-nav .nav-link {padding-left:0.5rem;background-color: #0a76eb;padding: 10px;border: 0;display: block;}
  header .navbar-dark .navbar-nav .nav-item{border:0;margin:0;width: 100%;display: block;}
}


.header-content {
    position: relative;
    text-align: left;
    padding: 100px 0 100px;
    width: 50%;
    z-index: 10;
  }
  .header-content .header-content-inner h1 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: #fff;
  }
  .header-content .header-content-inner hr {
    margin: 30px auto;
  }
  .header-content .header-content-inner p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      z-index: 100;
      color: #fff;
      width: 65%;
    }
    .header-content .header-content-inner {
      /* max-width: 1000px; */
      margin-left: auto;
      margin-right: auto;
    }
    .header-content .header-content-inner h1 {
      font-size: 68px;
    }
    .header-content .header-content-inner p {
      font-size: 18px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 0;
    }
  }
  @media (max-width: 768px) {
    .header-content {width: 100%;}
  }



  .about img.img-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px 5px 5px #ccc);
    width: 80%;
    margin: 20px auto;
    display: block;
  }
  .about-info h3 {
      font-size: 2em;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .about-info h3 + p, .about-info h3 + p + p {
      color: #999;
      line-height: 2;
  }
  .panel-default>.panel-heading {
      background-color: #007bff14;
      border-color: #ebf7ed;
      padding-left: 30px;
      position: relative;
      padding: 10px 10px;
      color: #007bff;
  }
  .panel-default{
    border-color: transparent;
  }
  .panel-group .panel {
      border-radius: 2px;
      margin-bottom: 15px;
      box-shadow: none;
  }
  .panel-title,.panel-title a {
      font-size: 14px;
      text-decoration: none;
      display: block;
      margin: 0;
      color: #007bff;
      font-weight: 600;
  }
  .panel-heading.actives a {
     color: #fff;
  }
  .panel-heading.actives {
      background: #007bff;
      color: #fff;
  }
  .panel-heading.actives:before {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #007bff;
      content: "";
      bottom: -12px;
      right: 12px;
      position: absolute;
  }
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border-top-color: transparent;
  }
  .actives + .panel-collapse {
      border-bottom: 2px solid #ebf7ed;
      padding: 30px 10px;
      display: block;
  }
  .panel-collapse{
    color: #999;
      line-height: 2;
  }
  .section-scroll {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    color: #fff;
    font-size: 2em;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
    width: 50px;
    height:50px;
    text-decoration: none;
  }
  .section-scroll:hover {
      color:#fff;
      text-decoration: none;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .page-banner {
      height:300px;
  }
  .page-banner .banner-content{
  position: absolute;
  z-index: 10;
  color:#fff;
  bottom: 0;
}
.page-banner header{
}

.breadcrumb {
    padding: 0rem 0rem;
    margin: 0 0 2rem 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}
.breadcrumb .breadcrumb-item a{
    color:#fff;
    font-weight:500;
}

.page-content {
    padding: 20px 15px;
    margin: 20px 0;
}

.card-custom{
    /* padding: 0; */
    border: 0;
    border-radius: 2px;
    margin-bottom: 40px;
}
.card-custom .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    color: #fff;
}
.orange {
    background-color:#FF5722 !important;
}
.green {
    background-color:#4caf50 !important;
}
.blue {
    background-color:#3f51b5 !important;
}
.voilet {
    background-color:#9c27b0 !important;
}
.yellow {
    background-color:#ffc107 !important;
}

.card-custom .card-body{
  border: 1px solid #eee;
    border-bottom: none;
}
.card-custom .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border: 1px solid #eee;
    border-top: none;
}
.card-custom .card-text{
    color: #a2a2a2;
}
.card-custom .card-header i {
    float: left;
    font-size: 2em; 
}
.card-custom .card-header .card-title{
    font-weight: 700;
    margin: 0;
}
.card-custom .card-header .card-title + p{
    font-weight: 300;
    margin: 0;
    font-size:12px;
    font-style:italic;
}
.card-custom .card-link {
    color:#555;
    background: #eee;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 12px;
}
.filter-search {
    margin-bottom: 30px;
}
.quicksearch {
    background-image: url(../images/search.png) !important;
    background-position: 97% 9px !important;
    background-repeat: no-repeat !important;
    padding-right: 42px;
    background-size: 18px;
    font-size: 14px;
    border-radius: 2px;
}


